h1 {
    text-align: center;
    margin: 1cm;
}

td, th {
    border: 1px solid black;
}

th {
    background-color: black;
    color: white;
}

img {
    height: 200px;
    width: 200px;
    border: 2px solid grey;
    margin: 1cm;
}