h1 {
    text-align: center;
    margin: 1cm;
}

td, th {
    border: 1px solid black;
}

th {
    background-color: black;
    color: white;
}

.team-list {
    margin: 10px;
    border: 4px solid;
    border-radius: 4px;
    width: 25%;
    font-weight: bold;
}

